mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin section(name)
  section(class=name)
    .wrapper
      .container
        block

mixin header(className)
  div(class=className)
    include index/header.pug

mixin title(className)
  div(class=className)
    include index/title.pug

mixin scroll-trigger(className)
  div(class=className)
    include index/scroll-trigger.pug